In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import json
import pandas as pd
import os

In [2]:
# Đọc dữ liệu từ Local MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['T2_PreprocessedData']
# Collection
collection = db['Ratings']

In [3]:
cursor = collection.find()
data_list = list(cursor)

raw_r_df = pd.DataFrame(data_list, index = None)
# Remove the _id column
raw_r_df = raw_r_df.drop('_id', axis=1, errors='ignore')
raw_r_df.head(5)

     user_id   movie_id  user_rating
0  ur0028288  tt2392830          8.0
1  ur0028288  tt4635282          6.0
2  ur0028288  tt0470752          9.0
3  ur0028288  tt3681794          6.0
4  ur0028288  tt0063442          9.0

In [4]:
lmovies_id = list(raw_r_df['movie_id'].value_counts().index)
len(lmovies_id)

68375

In [5]:
with open('movies_id', 'r') as json_file:
    movies_id = json.load(json_file)

In [6]:
for movie_id in lmovies_id:
    if movie_id not in movies_id.keys():
        movies_id[movie_id] = False

In [7]:
with open('movies_id', 'w') as json_file:
    json.dump(movies_id, json_file)